{% extends 'base.html.twig' %}

{% block title %}
	{{ "Courses / " ~ parent() }}
{% endblock %}

{% block body %}
	<h1>Курсы</h1>
	<div class="row  row-cols-1 row-cols-md-2 g-4">
		{% for course in courses %}
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<a class="course-show" href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a>
						</h5>
						<p class="card-text">{{ course.description }}</p>
						{% if coursesMessage[course.code] is defined %}
							<h6 class="card-subtitle mb-2 text-muted">{{ coursesMessage[course.code] }}</h6>
						{% else %}
							<h6 class="card-subtitle mb-2 text-muted">
								Бесплатный
							</h6>
						{% endif %}
						<a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-primary">
							Подробнее
						</a>
					</div>
				</div>
			</div>
		{% else %}
			<h3>
				Здесь пока нет ни одного курса</h3>
		{% endfor %}
	</div>

	{% if is_granted("ROLE_SUPER_ADMIN") %}
		<a class="btn btn-secondary p-2 px-4 mt-3" id="course_new" href="{{ path('app_course_new') }}">
			Новый курс
		</a>
	{% endif %}
{% endblock %}
